@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ZERO HUNGER</h1>
        <p class="lead">The goals of the Zero Hunger initiative are to end hunger and make sure that enough nutritious foods are available to people by 2030.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md"> &raquo;</a></p>
    </section>





    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Why Zero Hunger is important?</h2>
            <p>
                Zero Hunger is one of the Sustainable Development Goals (SDGs) established by the United Nations in 2015, and it aims to end hunger, achieve food security, improve nutrition, 
                and promote sustainable agriculture by 2030. Achieving Zero Hunger would not only help to reduce poverty 
                and inequality but also promote economic growth, enhance social stability, and protect the environment.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>





        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Achieving Zero Hunger...</h2>
            <p>
                Moreover, it requires collaboration across multiple sectors, including agriculture, health, education, and social welfare. Therefore, achieving Zero Hunger requires a comprehensive and integrated approach that involves 
                governments, civil society, the private sector, and other stakeholders.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>





        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Climate change and environmental degradation...</h2>
            <p>Climate change can lead to more frequent and severe droughts, floods, and other extreme weather events, which can affect crop yields and food production.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>